.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: gainsboro;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    padding-inline: var(--base-padding);
    margin-top: var(--base-padding);
    margin-bottom: var(--small-padding);
    margin-right: var(--small-padding);
    border-color: var(--sub-text-color);
    border-style: solid;

}

